/* ============ TAG SELECTORS ============*/

body {
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: darkslategray;
  font-family: 'Sacramento';
  font-size: 50px ;
  display: inline-flex;
  margin-bottom : 0;
}

h2, h3{
  color: #60d394;
  font-family:'Montserrat', sans-serif;
  margin-top: 5px;
}

p, a{
  font-family: 'Quicksand', sans-serif;
  color: darkslategray;
}

a:hover{
  color: #ee6055;
}

hr{
  color:#93bedf;
  border-style: dotted none none;
  border-width: 5px;
  border-spacing: 50px;
  width: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* ============ CLASS SELECTORS ============*/

/* ============ top ============*/

.top-container {
  background-color: #d2f6c5;
}

.first-cloud, .second-cloud {
  display: inline-block;
  margin: 0 5px 0 5px;
  width: 140px;
}

.first-cloud:hover, .second-cloud:hover {
  filter: brightness(0.5);
}

.left-snowflakes, .right-snowflakes{
  display: inline-block;
  width: 50px;
  margin: 0 12px 0 12px;
  filter: brightness(0.75);
  opacity: 0;
}

.first-cloud:hover~.left-snowflakes, .second-cloud:hover~.right-snowflakes {
  opacity: 100;
}

.description{
  display: inline-block;
}

.header-image {
  margin-top: 150px;
  width: 300px;
}

@media (max-width:600px){
  h1{
    font-size: 30px;
  }
  p{
    font-size: 13px;
  }
  .header-image {
    width: 150px;
  }
  .first-cloud, .second-cloud{
    width: 70px;
    margin: 0 0 0 0;
  }
  .left-snowflakes, .right-snowflakes{
    width: 20px;
    margin: 0 7px 0 7px;
  }
}

/* ============ middle ============*/

.middle-container{
  background-color: #f4f1de;
  padding-top: 100px;
  padding-bottom: 100px;
}
.profile-pic{
  width: 100px;
}
.skill-row{
  margin-bottom: 50px;
}
.skills-icon{
  margin-bottom: 5px;
}

/* ============ bottom ============*/

.bottom-container{
  background-color: #ffd97d;
  position: fixed;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
}
